h1 {
   margin: 0;
   padding: 1px;
}

.output{
   width: 24vw;
   height: 15px;
   outline: turquoise;
   border: solid grey 1px;
   border-radius: 4px;
   padding: 5px;
   margin: 1px 0 1.2em;
}

 button {
   font-size: 24px;
   padding: 7px;
   margin: 2px;
} 

